{% extends "base.html.twig" %}

{% block main %}
<h1>index</h1>
<a href="{{ link('page1') }}">page1</a><br>
<a href="{{ link('page2') }}">page2</a><br>
<a href="{{ link('indexredirect') }}">indexredirect</a>
{% endblock %}